@charset "utf-8";
@import url('reset.css');
/* 웹 아이콘 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
/* 웹 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* 타이포 */
@font-face {
    font-family: Lato-Regular;
    src: url(../assets/font/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Thin;
    src: url(https://fsclass-n.github.io/jfs/assets/font/Lato-Thin.ttf);
}

.ls10px {
    letter-spacing: 0.625rem;
}



/* 공통 */
.container{
    max-width: 980px;
}

/* 배경 이미지*/
#home .bgimg {
    background: url(/jfs/assets/img/light.jpg) no-repeat 50% 50% / cover fixed;
}

#home.dark .bgimg {
    filter: brightness(40%);
    background-image: url(/jfs/assets/img/dark.jpg);
}
.parallax-bg {
    /* position: relative; */
    height: 400px;
    background: no-repeat 50% 50% / cover fixed;
}
/* #about .parallax-bg {
    background-image: url(/jfs/assets/img/damian-ochrymowicz-uxnonl5ctUs-unsplash.jpg);
    background-position: 50% 70%;
} */

#work .parallax-bg {
    background-image: url(/jfs/assets/img/portfolio.jpg);
}
#contact .parallax-bg {
    background-image: url(/jfs/assets/img/markus-winkler-GTJNxRG4QJw-unsplash.jpg);
    background-position: 50% 100%;
}



/* 애니메이션 */
#home{
    overflow: hidden;
}
.circle_ani {
    position: absolute;
    top: 0;
    right: 0;
    width: 135px;
    height: 136px;
    transition: linear 5s;
    animation: circle 50s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg) scale(3);
    }
    100% {
        transform: rotate(720deg) scale(3);
    }
}
/* 텍스트 그림자 */
#home h2 {
    text-shadow: 1px 1px 5px red, 0 0 25px red, 0 0 35px red;
}


/* 나의 사진 */
.myimg{
    width: 425px;
    height: 280px;
}

/* 진행률 바(progres-bar) */
.progress{
    height: 35px;
}
.progress:first-of-type .progress-bar{
    width: 70%;
}
.progress:last-of-type .progress-bar{
    width: 80%;
}

/* 폼(양식) */
input{
    height: 45px;
}

.textarea{
    height: 200px;
    resize: none;
}
