@charset "utf-8";
@import url('reset.css');
/* 웹 아이콘 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
/* 웹 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* 타이포 */
@font-face {
    font-family: Lato-Regular;
    src: url(/assets/font/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Thin;
    src: url(https://fsclass-n.github.io/jfs/assets/font/Lato-Thin.ttf);
}

.ls10px {
    letter-spacing: 0.625rem;
}



/* 공통 */
.container {
    max-width: 980px;
}

/* 배경 이미지*/
#home .bgimg {
    background: url(../assets/img/light.jpg) no-repeat 50% 50% / cover fixed;
}

#home.dark .bgimg {
    filter: brightness(40%);
    background-image: url(../assets/img/dark.jpg);
}

.parallax-bg {
    /* position: relative; */
    height: 400px;
    background: no-repeat 50% 50% / cover fixed;
}

/* #about .parallax-bg {
    background-image: url(/jfs/assets/img/damian-ochrymowicz-uxnonl5ctUs-unsplash.jpg);
    background-position: 50% 70%;
} */

#work .parallax-bg {
    background-image: url(../assets/img/portfolio.jpg);
}

#contact .parallax-bg {
    background-image: url(../assets/img/markus-winkler-GTJNxRG4QJw-unsplash.jpg);
    background-position: 50% 100%;
}



/* 애니메이션 */
#home {
    overflow: hidden;
}

.circle_ani {
    position: absolute;
    top: 0;
    right: 0;
    width: 135px;
    height: 136px;
    transition: linear 5s;
    animation: circle 50s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg) scale(3);
    }

    100% {
        transform: rotate(720deg) scale(3);
    }
}

/* 헤더 배경색 지정 */
#header {
    background: transparent;
    transition: background 0.3s;
}

#header a {
    color: #fff;
}

#header a:hover {
    color: #222;
}

#header.active {
    background: #fff;
    /* 헤더박스 그림자 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#header.active a {
    color: #222;
}

#header.active a:hover {
    color: #111;
}


/* 텍스트 그림자 */
#home h2 {
    text-shadow: 1px 1px 5px red, 0 0 25px red, 0 0 35px red;
}

#counterWrap {
    /* 카운터와 #work 섹션 사이가 벌어진 부분 메꾸기! */
    transform: translateY(56px);
}

#about::before,
#work::before,
#contact::before {
    display: block;
    content: '';
    /* ::before높이를 헤더의 높이 만큼 지정한다. */
    height: 56px;
}

/* about 문장들 */



/* 나의 사진 */
.myimg {
    width: 425px;
    height: 280px;
}

/* 진행률 바(progres-bar) */
.progress {
    height: 35px;
}

.progress:first-of-type .progress-bar {
    width: 70%;
}

.progress:last-of-type .progress-bar {
    width: 80%;
}

/* 카운터 */
.counter {
    opacity: 0;
    transition: opacity 0.5s;
}

.counter::after {
    content: '+';
}

.counter.active {
    opacity: 1;
}

/* Ui 카드 */

.portfolio {
    gap: 40px;
}

.box_office_card {
    position: relative;
    width: 245px;
    border-radius: 5px;
    overflow: hidden;
}

/* 앞면 */
.rank {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    text-shadow: 2px 2px 2px #000;
}
.poster{
    height: 352px;
}

/* 
.grade {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 28px;
} */

/* 뒷면 */
/* .worktime {
    position: absolute;
    width: calc(100% - 48px);
    text-align: center;
    bottom: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 8px;
} */

/* 작업시간 */
.worktime span {
    color: #037B94;
    font-size: 1.5rem;
    margin-left: 16px;
}

/* 버튼 */
.portfolio .btn {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 8px;
    height: 34px;
    gap: 8px;
}

/* 작업인원 유형 */
.worktype {
    background: transparent;
    border: 1px solid #111;
    border-radius: 5px;
    width: 60px;
    line-height: 30px;
}

/* 사이트바로 가기 버튼*/
.sitelink {
    width: 100%;
    border-radius: 5px;
    line-height: 34px;
}

/* y축 회전 */
.inner {
    position: relative;
    height: 352px;
    /* 원근감 */
    perspective: 1000px;
}

.inner:hover {
    cursor: pointer;
}

.front,
.back {
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .5s;
    transform-style: preserve-3d;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    padding: 24px;
    color: #fff;
    background: rgb(0, 0, 0, 0.8);
    /* 뒷 면 숨기기 */
    backface-visibility: hidden;
}

/* 호버시 뒤집기 */
.inner:hover .front {
    transform: rotateY(180deg);
}

.inner:hover .back {
    transform: rotateY(360deg);
}

/* 맵 */
.map {
    height: 160px;
}

input {
    height: 45px;
}

/* 폼(양식) */
#name,
#email {
    width: calc(50%-8px);
}

textarea {
    width: 100%;
    height: 200px;
    resize: none;
}

#btnForm {
    width: 28%;
}