@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);

/* 웹 폰트: 방법1-CDN 방식 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');


/* 웹 폰트: 방법2- @font-face -> CDN x  */

@font-face {
    /* 사용자 정의 폰트명 */
    font-family: Lato-Regular;
    /* 상대주소 */
    /*  / 작업 영역 폴더(root)
        ./ 현재위치, 한 번만
        ../ 부모위치, 여러 번
        예) a폴더> b 폴더> c폴더: 파일.html
        예) a폴더:../../이미지.jpg
    */

    /* 내 컴퓨터에서 볼 때  / 는 현재 작업 폴더 작업 폴더가 바뀔 경우 상대경로 또한 바뀜 */
    src: url(../assets/font/Lato/Lato-Regular.ttf);
}

@font-face {
    /* 사용자 정의 폰트명 */
    font-family: Lato-Thin;
    /* 절대주소 */
    /* URL: 프로토콜://도메인/폴더경로/파일 */
    src: url(https://minho60.github.io/jfs/assets/font/Lato-Thin.ttf);
}




/* reset(초기화) */
* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}


a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

iframe {
    width: 100%;
    height: 100%;
}

button {
    border: none;
    cursor: pointer;
    color:beige;
}

button:hover {
    color: #ccc;
}

:root {
    scroll-behavior: smooth;
}


/* typograph(타이포그래피) */
/* :root는 html 태그를 선택한다. */
:root {
    font-size: 10px;
}



body {
    /* 단위:em-> rem 은 :root 에서 지정한 크기의 배수
        예) 10px * 1.5 배 -> 15px
    */
    font: 1.5rem/1.6 "Lato-Regular", sans-serif;
}

#home h2 {
    font-weight: 400;
    font-size: 2.4rem;
    color: #fff;
    /* 글자 사이 간격: 자간 */
    letter-spacing: 1rem;
    /* ls */
    text-transform: uppercase;
}

header a {
    color: #fff;
}

footer a,
footer p {
    color: #fff;
}


/* A태그는 글자색의 경우 a 태그에 직접 지정 */
footer .top-btn a {
    color: #333;
}

footer .sns i {
    font-size: 2.4rem;
    margin: 0 -3px;
}

#contact h2 {
    color: #ffffff;
    font-size: 40px;
}


#contact h3,
p {
    color: #555;
}

#contact h3 {
    margin-top: 50px;
    margin-bottom: 30px;
}

#contact a {
    color: #555;
}


#contact .contact p {
    text-align-last: left;
}




textarea {
    font: 1.5rem/1.6 "Lato-Regular", sans-serif;
}

/* 가상 요소 클래스
        ::placeholder
*/
::placeholder {
    font: 1.5rem/1.6 "Lato-Regular", sans-serif;
    color: #ccc;
}



/* common(공통) */

h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    /* trft */
    /* background: #404040; */
    /* 일반적으로 좌우패칭을 상하 보다 더 준다. */
    padding: 8px 24px 10px 30px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h3 {
    text-align: center;
    margin: 64px 0 10px;
}

/* 돌아가는 원 */
.circle_ani {
    position: absolute;
    top:0;
    right: 0;
    width: 135px;
    height: 136px;
    animation: circle 30s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg) scale(3);
    }

    100% {
        transform: rotate(720deg) scale(3);
    }

}

.circle_ani:hover {
    transform: rotate(360deg);
    /* trfr */
    /* 기본값 */
}


/* header area */
header {
    z-index: 9999;
    position: fixed;
}

header .gnb ul {
    position: fixed;
    display: flex;
}

header .gnb li a {
    display: inline-block;
    padding: 8px 16px;
}

header .gnb li a:hover {
    background: #b4b3b3;
}

header .gnb li i {
    margin-right: 8px;
}

/* footer area */

footer {
    background: #555;
    text-align: center;
    padding: 100px;
}

footer:hover {
    background: #111;
}

/* to the top 버튼  */
footer .top-btn {
    display: inline-block;
    background: #ddd;
    padding: 8px 16px;
}

footer .top-btn:hover {
    background: #ccc;
}

footer .top-btn i {
    margin-right: 8px;
}

footer .sns {
    margin: 30px 0 40px;
}


/* section area: index.html */

#home {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: url(/jfs/assets/img/light.jpg) no-repeat 50% 50%/cover fixed;
}

#home .bgimg {
    height: 100vh;
    background: url(/jfs/assets/img/light.jpg) no-repeat 50% 50%/cover fixed;

}

#home.dark .bgimg{
    filter: brightness(40%);
    background-image: url(/jfs/assets/img/dark.jpg);
}

#home.dark h2{
    text-shadow: 1px 1px 2px red, 0 0 25px red, 0 0 5px red;
}
#home h2{
    padding: 8px 24px 10px 30px;
}

/* work+contact section area: work.html */

.parallax-bg {
    position: relative;
    background: no-repeat 50% 50%/cover fixed;
    height: 400px;
}

.container {
    width: 900px;
    margin: 48px auto 96px;
    text-align: center;
}

button {
    padding: 12px 24px;
    margin-top: 10px;
}


/* work section area: work.html */

#work .parallax-bg {
    background-image: url(/jfs/assets/img/portfolio.jpg);
}

#work h3,
p {
    text-align: center;
}

#work .portfolio {
    display: flex;
    gap: 16px;
}

#work .portfolio li {
    width: 213px;
    height: 162px;
}


#shadow {
    margin: 64px 0 0;
    width: 200px;
    height: 50px;
    background: inherit;
    color: black;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: all 200ms ease-out;
}

#shadow:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

/* section area about.html */
#about .parallax-bg{
    background: url(/jfs/assets/img/damian-ochrymowicz-uxnonl5ctUs-unsplash.jpg) no-repeat 50% 40%/cover
}

#about .basic p {
    text-align: left;    
}
#about .basic strong{
    text-decoration: underline 2px wavy red;
}

#about .basic b{
    display: inline-block;
    padding-bottom: 36px; 
}


#about .basic img{
    filter:opacity(50%);
    height: 280px;
    border-radius: 5px;
}
#about .basic img:hover{
    filter:none;
}


#about .basic .inner {
    display: flex;
    gap: 48px;
    margin: 48px 0 130px;
}

#about .basic .inner div {
    flex: 50%;
}

#about .basic .inner p {
    flex: 50%;
}

/* skill */
#about .skill>p{
    margin-bottom: 36px;
    font-size: 1.8rem;
}

#about .skill .inner p {
    text-align: left;
    letter-spacing: 16px;
    margin: 12px 0;
}


#about .skill .progressbar {
    background: #F1F1F1;
}

#about .progressbar div {
    /* 한줄 텍스트의 경우 height와 line-height가 같을 경우 수직 중앙 배치 */
    /* line-height: 35px;
    height: 35px; */
    padding: 6px;
    background: #616161;
}

#about .progressbar:nth-of-type(1) div {
    width: 70%;

}

#about .progressbar:nth-of-type(2) div {
    width: 70%;

}

/* count */


#about .count ul {
    display: flex;
    text-align: center;
    padding: 36px 0;
    background: #616161;
    color: #fff;
}
#about .count ul li{
    /* flex:[grow|shrink|basis]; */
    flex: 0 1 25%;
}
#about .count ul li span{
    display: block;
   font-size: 2.4rem;
}



/* section area contact.html */
#contact .parallax-bg {
    background-image: url(/jfs/assets/img/markus-winkler-GTJNxRG4QJw-unsplash.jpg);
    background-position: 50% 15%;
}


#contact h3,
p {
    text-align: center;
}


#contact .parallax-bg h2 {
    background: transparent;
}


#contact .container {
    display: flex;
    justify-content: space-between;
}

#contact .map {
    width: 280px;
    height: 160px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 32px;
}

#contact .contact {
    width: 600px;
    text-align: left;
}


#contact .contact p {
    margin: 24px 0 26px;
}

#contact input {
    width: 100%;
    height: 45px;
    padding-left: 16px;
}

#contact .frm-input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#contact textarea {
    width: 100%;
    /* 텍스트 영역 상자의 크기 조정 불가 */
    resize: none;
    height: 150px;
    margin-top: 10px;
    padding-top: 16px;
    padding-left: 16px;
}

#contact button {
    background: #111;
}

#contact i {
    margin-right: 8px;
}

#contact .addr i {
    margin-right: 16px;
}

#contact .frm-btn {
    text-align: right;
}