@charset "utf-8";
/* 웹 폰트: 방법1-CDN 방식 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');

/* 웹 폰트: 방법2- @font-face -> CDN x  */

@font-face{
    /* 사용자 정의 폰트명 */
    font-family: Lato-Regular;
    src:url(./../assets/font/Lato/Lato-Regular.ttf);
}

@font-face{
    /* 사용자 정의 폰트명 */
    font-family: Lato-Thin;
    src:url(./../assets/font/Lato/Lato-Tin.ttf);
}




/* reset(초기화) */
*{
    box-sizing: border-box;
}

body,h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

/* typograph(타이포그래피) */
body{
    font-family: "Lato", sans-serif;
}

h2{
    font-weight: 400;
    font-size: 24px;
    color:#fff;
    /* 글자 사이 간격: 자간 */
    letter-spacing: 10px;
     text-transform: uppercase;    
     background: gray;
    /* 일반적으로 좌우패칭을 상하 보다 더 준다. */
    padding: 8px 24px 10px 30px;
}




/* common(공통) */

h2{
    position: absolute;
    left: 50%;  
    top: 50%;
    transform: translate(-50%, -50%); /* trft */
    
}


#home{
    height: 100vh;
    background: url(../assets/img/ivan-bandura-2FEE6BR343k-unsplash.jpg) no-repeat 50% 50%/cover;
}

#sec{

}
