@charset "utf-8";

@import url(common.css);
@import url(typo.css);

/* CDN은 Content Delivery Network의 약자로, 전 세계에 분산된 여러 서버 네트워크를 통해 사용자에게 웹 콘텐츠(예: 웹 사이트, 이미지, 동영상)를 더 빠르게 전달하는 서비스입니다.  */
/* https://cdnjs.com */
/* fontawesome.com */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css); /* @i */

/* 1. 웹(외부) 폰트를 CDN으로 연결 */
/* 눈누 */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* 구글 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');




/* header */
/* section */
/* section common(공통) */

.sec{
    /* vh: viewport hight */
    height: 100vh;
}


/* section1 area */
/* #sec1 *{
    outline: 1px solid green;
} */

#sec1{
    position: relative;
}

#sec1 .vid{
    position: absolute; /* poa */
    
}

#sec1 .outer{
    position:absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}

#sec1 .container{
    /* 너비가 100%이지만 1330px은 넘지 않게 */
    width: 100%; 
    max-width: 1330px; /* maw1330 */
    /* 인라인 요소(텍스트포함) 가로 정렬 */
    text-align: center;

}

#sec1 .container p{
    margin: 28px 0 100px; /* m40-0-120 */
}


#sec1 .counter{
    display: flex;
   justify-content: center;
   
}

#sec1 .counter div{
    width: 307px;
    /* height와 line-height가 같으면 텍스트가 수직 중앙에 배치된다. 단, 한 줄 텍스트일 때만 가능 */
    height: 44px;
    line-height: 44px;
    background-color: rgba(255, 217,0, .6);
    border-radius: 20px;
    margin: 10px;
}



/* section2 area */
#sec2 {
    display: flex;
    justify-content: center; /* jcc */
    align-items: center;
    gap: 20px; /* g20 */
}



/* card-container */
/* 배경색: bgc */
.card-container {
    background-color: #D8EAF4;
    width: 340px;
    /* margin:20px; */
    /* overflow: hidden; */
}

.card-image-wrapper{
    overflow: hidden;
}

.card-image-wrapper img{
    transition:0.3s; /* trs, 0.3초 */
}

.card-image-wrapper:hover img{
    transform: scale(1.2, 1.2); /* trf:s */
    
}

.card-content{
    /* 마진 겹침 해결 
        -> 마진이 부모 바깥으로 지정 되는것을 방지
    */
     display: flow-root;
}

/* 배지+ 좋아요 */
.card-header{
    padding-left: 45;
}



/* 좋아요 하트 */
.like-button{
    /* 요소의 크기는 지정하면서 줄은 바뀌지 않는다. */
    display: inline-block; /* dib */
    width: 55px;    
    height: 55px; 
    /* padding: 17px 15px 23px; */
    line-height:55px; /* 줄간격, lh55 */
    text-align: center; /* 텍스트 좌우 정렬, tac */

    background-color: #B1B4B3; /* bgc */
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 140px;
}


.like-button i {
    color:white;
    font-size: 20px;
}

.tag-badge {
    display: inline-block;
    width: 70px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #0F2244;
    color:white;
    margin-left: 45px;
}

.card-header span{
 vertical-align: top; /* vat */
}

/* 카드 UI 정보 */
.card-body{
    margin: 0 45px 120px;
    
}


/* footer */