@charset "utf-8";

@import url(common.css);

/* CDN은 Content Delivery Network의 약자로, 전 세계에 분산된 여러 서버 네트워크를 통해 사용자에게 웹 콘텐츠(예: 웹 사이트, 이미지, 동영상)를 더 빠르게 전달하는 서비스입니다.  */
/* https://cdnjs.com */
/* fontawesome.com */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css); /* @i */

/* 1. 웹(외부) 폰트를 CDN으로 연결 */
/* 눈누 */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* 구글 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



/* 
    typo/color system
        -글꼴 나눔스퀘어
        -줄간격 24px
        -큰제목 22px, #3333
        -배지 15px, #fff
        -본문 15px, #9a8b86
        -연락처 24px , #0f2244 -> Noto Sans Kr

*/

/* section1 area */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
}
#sec1 h2{
    font-size: 60px;
}

#sec1 p{
    font-size: 24px;
}

#sec1 span:first-of-type{
    font-size: 40px;
}

#sec1 span:last-of-type{
    font-size: 17px;
}

#sec1 .counter div {
    color: #3E3A38;
}