 @charset "UTF-8";
 @import url(reset.css);

 @font-face {
     font-family: 'NanumBarunGothic';
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
     font-weight: 400;
     font-display: swap;
 }

 @font-face {
     font-family: 'NanumBarunGothic';
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
     font-weight: 700;
     font-display: swap;
 }

 @font-face {
     font-family: 'NanumBarunGothic';
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
     font-weight: 300;
     font-display: swap;
 }

 /* 헤더 */
 #header {
     background: #111;
     position: relative;
     padding: 15px;
     border-bottom: 1px solid rgb(255, 255, 255, 0.5);
 }

 #header .inner {
     max-width: 1100px;
     margin: 0 auto;
 }

 /* 로고 */

 #logo {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
 }

 /* top menu */
 #header .top_link {
     display: flex;
     justify-content: space-between;
 }

 #header .top_link a {
     margin: 0 10px;
     font-size: 0.8125rem;
     color: #aaa;
 }

 /* link icon */
 #header .link_icon {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 #header .link_icon a {
     margin: 0 10px;
 }

 /* GNB(글로벌 내비게이션 바) */
 #gnb {
     position: absolute;
     width: 100%;
     max-width: 900px;
     left: 50%;
     top: 50px;
     transform: translateX(-50%);
 }

 /* 1depth */
 #gnb .main {
     display: flex;
     justify-content: space-evenly;
 }

 #gnb .main a {
     position: relative;
     font-size: 1.125rem;
 }

 #gnb .main>li:nth-of-type(1) {
     margin-left: 30px;
 }

 #gnb .main>li:nth-of-type(4) {
     margin-left: 300px;
 }

 #gnb .main>li:hover .sub {
     display: flex;
 }

 /* 메인 메뉴 호버시 하단 바 */
 #gnb .main>li:not(:nth-of-type(5))>a:hover::after {
     position: absolute;
     bottom: -25px;
     top: 35px;
     transform: translateX(-100%);
     content: '';
     height: 3px;
     width: 100%;
     background: #fff;
 }


 /* 2depth */
 #gnb .sub {
     /* display: flex; */
     position: absolute;
     padding-top: 30px;
     transform: translateX(-25%);
     display: none;
     /* 마지막 메뉴(혜택 메뉴)의 영역이 부족하여 줄 바굼 되는 현상 방지 */
     text-wrap: nowrap;
 }

 #gnb .sub li {
     margin: 0 8px;
 }

 #gnb .sub a {
     font-size: 0.9375rem;
 }

 #gnb .sub a:hover {
     text-decoration: underline;
 }