 @charset "utf-8";
 @import url(reset.css);

 /* 헤더 */
 #header {
     background: #111;
     position: relative;
     padding: 15px;
     border-bottom: 1px solid rgb(255, 255, 255, 0.5);
 }

 #header .inner {
     max-width: 1100px;
     margin: 0 auto;
 }

 /* 로고 */

 #logo {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
 }

 /* top menu */
 #header .top_link {
     display: grid;
     grid-template-columns: repeat(2,1fr);
     /* justify-content: space-between; */
 }

 #header .top_link a {
     margin: 0 10px;
     font-size: 0.8125rem;
     color: #aaa;
 }

 /* link icon */
 #header .link_icon {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 #header .link_icon a {
     margin: 0 10px;
 }

 #header .link_icon img {
     all: unset;
     vertical-align: middle;
     object-fit: cover;
 }


 /* GNB(글로벌 내비게이션 바) */
 #gnb {
     position: absolute;
     width: 100%;
     max-width: 900px;
     left: 50%;
     top: 50px;
     transform: translateX(-50%);
 }

 /* 1depth */
 #gnb .main {
     display: flex;
     justify-content: space-evenly;
 }

 #gnb .main a {
     position: relative;
     font-size: 1.125rem;
 }

 #gnb .main>li:nth-of-type(1) {
     margin-left: 30px;
 }

 #gnb .main>li:nth-of-type(4) {
     margin-left: 300px;
 }

 #gnb .main>li:hover .sub {
     display: flex;
 }

 /* 메인 메뉴 호버시 하단 바 */
 #gnb .main>li:not(:nth-of-type(5))>a:hover::after {
     position: absolute;
     bottom: -25px;
     top: 35px;
     transform: translateX(-100%);
     content: '';
     height: 3px;
     width: 100%;
     background: #fff;
 }


 /* 2depth */
 #gnb .sub {
     /* display: flex; */
     position: absolute;
     padding-top: 30px;
     transform: translateX(-25%);
     display: none;
     /* 마지막 메뉴(혜택 메뉴)의 영역이 부족하여 줄 바굼 되는 현상 방지 */
     text-wrap: nowrap;
 }

 #gnb .sub li {
     margin: 0 8px;
 }

 #gnb .sub a {
     font-size: 0.9375rem;
 }

 #gnb .sub a:hover {
     text-decoration: underline;
 }

 /* section 섹션 */

 #section {
     color: #fff;
     padding: 30px 0 100px;
 }

 .inbox {
     max-width: 1100px;
     margin: 0 auto;
     text-align: center;
 }

 h2 {
     display: inline-block;
     border-bottom: 1px solid #555;
     font-size: 1rem;
     font-weight: 400;
 }

 .more {
     color: #ccc;
     text-align: right;
     margin-bottom: 16px;
 }

 .more a {
     color: #ccc;
 }

 .more i {
     margin-left: 8px;
     font-weight: 400;
     transform: scale(2.3, 2.3);
 }

 .link {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     background: rgba(0, 0, 0, 0.5);
     margin: 50px 0;
     padding: 25px 0;
 }

 .link li {
     width: 275px;
     text-align: center;
 }

 .link li:not(:last-of-type)::after {
     position: absolute;
     content: '';
     width: 1px;
     height: 30px;
     display: inline-block;
     background: rgba(255, 255, 255, 0.2);
 }

 .link li::after {
     margin-left: 50px;
 }

 .link .search {
     position: relative;
     display: inline-block;
     width: 70%;
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
     padding-bottom: 8px;
     text-align: left;
 }

 .link .search::before {
     content: '';
     position: absolute;
     right: 0px;
     top: 4px;
     width: 18px;
     height: 18px;
     background: url(../img/ico-search-white.png);
 }

 .link .search input::placeholder {
     font-size: 0.938rem;
     color: #ccc;

 }

 .link img {
     width: 25px;
     height: 25px;
     object-fit: contain;
     margin-right: 8px;
 }

 .link span {
     vertical-align: middle;
 }

 .mouse {
     text-align: center;
 }

 .mouse span {
     display: inline-block;
     width: 16px;
     animation: mouse 2s infinite ease-in-out;
 }

 @keyframes mouse {
     0% {
         transform: translateY(0);
     }

     40% {
         transform: translateY(20px);
     }

     80% {
         transform: translateY(20px);
     }

     100% {
         transform: translateY(0);
     }
 }



 /* boxofficecard */
 .box_office {
     display: grid; /* dg */
     grid-template-columns: repeat(4, 1fr); /* gtcr */
     gap: 40px;
 }

 .box_office_card {
     position: relative;
     width: 245px;
     border-radius: 5px;
     overflow: hidden;
 }

 /* 앞면 */
 .rank {
     position: absolute;
     left: 10px;
     top: 10px;
     color: #fff;
     font-size: 2rem;
     font-weight: 300;
     font-style: italic;
     text-shadow: 2px 2px 2px #000;
 }

 .screen_type {
     position: absolute;
     left: 10px;
     bottom: 10px;
     width: 60px;
 }

 .grade {
     position: absolute;
     right: 10px;
     bottom: 10px;
     width: 28px;
 }

 /* 뒷면 */
 .score {
     position: absolute;
     width: calc(100% - 48px);
     text-align: center;
     bottom: 30px;
     border-top: 1px solid rgba(255, 255, 255, 0.2);
     padding-top: 8px;
 }

 .score span {
     color: #037B94;
     font-size: 1.5rem;
     margin-left: 16px;
 }

 /* 좋아요 버튼 */
 .btn {
     display: flex;
     gap: 8px;
 }

 .like {
     color: #fff;
     background: transparent;
     border: 1px solid #fff;
     border-radius: 5px;
     height: 34px;
     width: 100px;
     margin-top: 8px;
     padding: 0 5px;
 }

 .like i {
     margin-right: 4px;
 }

 .reservation_link {
     background: #037B94;
     width: 100%;
     text-align: center;
     border-radius: 5px;
     padding: 6px;
     margin-top: 8px;
 }

 /* y축 회전 */
 .box_office_card .inner {
     position: relative;
     height: 352px;
     /* 원근감 */
     perspective: 1000px;
 }

 .box_office_card .inner:hover {
     cursor: pointer;
 }

 .front,
 .back {
     position: absolute;
     border-radius: 10px;
     overflow: hidden;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     transition: .5s;
     transform-style: preserve-3d;
 }

 .front {
     transform: rotateY(0deg);
 }

 .back {
     transform: rotateY(180deg);
     padding: 24px;
     color: #fff;
     background: rgb(0, 0, 0, 0.8);
     /* 뒷 면 숨기기 */
     backface-visibility: hidden;
 }

 /* 호버시 뒤집기 */
 .inner:hover .front {
     transform: rotateY(180deg);
 }

 .inner:hover .back {
     transform: rotateY(360deg);
 }


 /* footer 푸터 */
 #footer {
     background: #F8F8FA;
     font-size: 0.813rem;
     padding-bottom: 50px;
 }

 #footer a {
     color: #555;
 }

 .inbox {
     width: 1100px;
     margin: 0 auto;
 }

 /* 상단 영역 */
 .footer_top {
     display: flex;
     justify-content: space-between;
     padding: 30px 0;
 }

 .fnb {
     display: flex;
     gap: 8px;
 }

 .fnb a:hover {
     text-decoration: underline;
 }

 .btn_looking_theater {
     border: 1px solid #ccc;
     border-radius: 30px;
     padding: 4px 16px;
 }

 .btn_looking_theater img {
     width: 15px;
     height: 15px;
     margin-right: 4px;
 }

 /* 하단 영역 */
 .footer_bottom {
     display: flex;
     justify-content: space-between;
 }

 .info {
     line-height: 0.5;
 }

 .ci {
     width: 150px;
     height: 50px;
 }

 .sns a {
     display: inline-block;
     width: 30px;
     height: 30px;
 }

 .sns a:not(:last-of-type) {
     margin-right: 4px;
 }

 /* 극장 찾기 */
 .theater {
     position: absolute;
     left: 0;
     top: 250px;
     width: 100%;
     padding: 30px;
     color: #fff;
     height: calc(100vh - 200px);
     display: none;
 }

 .theater.active {
     display: block;
 }

 .tit {
     display: flex;
     justify-content: space-between;
 }

 .theater h2 {
     font-weight: normal;
 }

 .closed {
     display: inline-block;
     width: 36px;
     height: 36px;
     cursor: pointer;
 }