 @charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);
 /* reset(초기화) */
 * {
     box-sizing: border-box;
 }

 body,
 h1,
 ul {
     margin: 0;
     padding: 0;
 }

 ul {
     list-style: none;
 }

 body {
     font: 0.9375rem/1.6 'NanumBarunGothic', sans-serif;
     background: #111;
 }

 a {
     text-decoration: none;
     color: #fff;
 }

 img {
     vertical-align: middle;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }